.context-menu {
  transition: padding 0.2s cubic-bezier( 0.21, 0.82, 0.69, 0.97 ), transform 0.2s cubic-bezier( 0.21, 0.82, 0.69, 0.97 ), opacity 0.2s cubic-bezier( 0.21, 0.82, 0.69, 0.97 ), z-index 0.2s;
}

.context-menu.main {
  z-index: 420;
  position: absolute;

  background-color: #282c34;
  height: auto;
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: 0px 0px 14px 8px rgb(0 0 0 / 62%);

  background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(84, 84, 84, 0) 100%), radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(84, 84, 84, 0) 100%);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: left center, right center;

  min-width: 7em;
}

.context-menu.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center; 
  justify-content: space-evenly;
  align-items: center;
  
  gap: 0.2em;
  font-size: 1em;
}
.context-menu.header > svg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.context-menu.content {
  transition: 0s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.context-menu.content > div {
  font-size: 0.8em;
  transition: 0s;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.42);
}

/* all divs in the menu */
.context-menu.content > div:hover, .context-menu.content > .select:hover {
  cursor: pointer;
  font-size: 0.82em; /* 1em is default font size */
  /* letter-spacing: 1px;  */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.877);
}


.context-menu.close {
  z-index: -420;
  padding-top: 0;
  opacity: 0;
  transform: scale(0.9);
}
