.value {
  font-size: 50px;
  text-shadow: 0 0 8px hsla(0,0%,100%,.8);
}

.text {
  color: #aaa;
}

.countdown {
  opacity: 0;
  animation: spawn 0.4s forwards;
  animation-delay: 0.1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes spawn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.nextSubject {
  margin: 0.5em;
  margin-bottom: 3em;
  font-size: 1.2em;
}

.subject {
  font-weight: 600;
}
