.menu-main {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.menu-main.open {
  visibility: visible;
}

.menu-main.move {
  visibility: hidden;
}

.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 9em; 
  height: 100vh;  /* Full height */
  background-color: #282c34;  
  overflow-x: hidden;
  transition: 0.2s cubic-bezier( 0.21, 0.82, 0.69, 0.97 )  ;  /* Adjust the sliding speed */
  transform: translateX(100%);  /* Initially hidden */
  
  background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(84, 84, 84, 0) 100%), /* Left gradient */ radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(84, 84, 84, 0) 100%);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: left center, right center;
  padding-left: 1px;
  padding-right: 1px;
}

.menu.open {
  transform: translateX(calc(0% + 2px));
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 62%);
}

.menu.move {
  transform: translateX(calc(-100vw + 100% - 2px));
}

.menu-content > .title {
  display: block;
  margin: 0.3em;
  margin-bottom: -0.35em; /* make up for the font difference */
}

.menu-content > div, .select {
  padding-top: 0.5em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #aaa, rgba(0, 0, 0, 0));
  background-size: 80% 1px; 
  background-repeat: no-repeat; /* To make sure the gradient doesn't repeat */
  background-position: bottom center; 
  transition: 0.2s;  /* Adjust the sliding speed */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.42);

}

/* all divs in the menu */
.menu-content > div:hover, .select:hover {
  cursor: pointer;
  background-size: 100% 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
  font-size: 1.02em; /* 1em is default font size */
  /* letter-spacing: 2px; looks ugly af */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.877);
}

/* burger menu */
svg rect {
  fill: #aaa;
  stroke: #aaaaaa8a;  /* The color of the border/stroke */
  stroke-width: 1;  /* The width of the border/stroke */
  transition: fill 0.2s, stroke 0.5s;
}

.burger-menu { 
  z-index: 1;
}

.burger-menu:hover {
  cursor: pointer;  
}

.burger-menu:hover rect {
  fill: #ffffff; 
  stroke: #ffffff8a;  /* The color of the border/stroke */
}

.menu-burger-menu:hover {
  cursor: pointer;
}