/* each setting has its own line */
.pomodoro.setting {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;
}

/* minimum space between text and input */
.pomodoro.input {
  margin-left: 1em;
}

/* styles for the time input (hh:mm:ss)  */
/* 0.32em is good enough */
.pomodoro.number-input {
  margin-left: 0.31em;
}

@media (max-width: 700px) {
  .pomodoro.setting {
    flex-direction: column;
  }

  .pomodoro .input {
    margin-right: 0.31em;
    margin-left: 0.31em;
  }
  
  .pomodoro.time > .pomodoro.number-input:first-child {
    margin-right: 0;
    margin-left: 0;
  }
  
  /* select the lone, small inputs */
  .pomodoro.setting > label > .pomodoro.number-input, .pomodoro.input > .pomodoro.number-input {
    margin-right: 0;
    margin-left: 0;
  }
}
