.settings.title {
  display: inline-block;
  
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #aaa, rgba(0, 0, 0, 0));
  background-size: 80% 3px;
  background-repeat: no-repeat;
  background-position: bottom center;

  height: 1.5em;
  margin-bottom: 0.5em;
}

.settings.content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.settings.row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 6px;
  margin-top: 6px;
}

/* minimum space between text and input */
.settings.options {
  margin-left: 1em;
}
