.time-table-div {
  background-color: #282c34;
  z-index: 1;
  position: fixed;
  /* top: calc(2.3em + 2em); */
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: 0.2s cubic-bezier( 0.21, 0.82, 0.69, 0.97 );

  display: flex;
  align-items: center;
  flex-direction: column;
}

.time-table {
  border-collapse: collapse;
}

.col1 {
  color: #aaaaaae8;  
}

.col2 {
  padding-inline: 4em;
}

.col3 {
  visibility: hidden;
  box-shadow: 0px 0px 0px black;
  padding-inline: 3em;
}

@media (max-width: 600px) {
  .col3 {
    visibility: visible;
    background-color: red;
    padding-inline: 0;
  }

  .col1 {
    font-size: 0.8em;
  }
  
}

.break {
  background-color: #00000012;
}

.break.col2 {
  box-shadow: 0px 0px 15px 0px #0000002e;
}
