.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.full-title {
  /* margin-bottom: 1.6em; */
  font-family: 'Kawi';
  position: absolute;
  top: 3em;
}

.full-title:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #aaaaaa75;
  text-decoration-thickness: 1px;
}

.full-title.burger-menu {
  right: 2.7em;
  top: calc(3em + 5px);
}

.url {
  font-size: 0.8em;
  color: #aaa;
}