.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.full-title {
  position: absolute;
  top: 2.3em;
  text-decoration-color: #aaaaaa00;
  transition: text-decoration 0.2s;
}

.title {  
  font-family: 'Kawi';
  font-size: 1.5em;
  font-weight: 600;
  color: white;
}

.full-title:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #aaaaaa75;
  text-decoration-thickness: 1px;
}

.full-title.burger-menu {
  margin: 0;
  right: 4em;
  top: 3em;
  transition: 0.2s cubic-bezier( 0.21, 0.82, 0.69, 0.97 );
}

.full-title.burger-menu.move {
  left: 4em;
} 

@media (max-width: 550px) {
  .full-title.burger-menu {
    margin: 0;
    right:1em;
    top: 3em;
  }
}

.url {
  font-size: 0.8em;
  color: #aaa;
}