body {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.591);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kawi', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Kawi';
  src: url("/public/NotoSansKawi-Regular.ttf") format("truetype");
  /* font-weight: 300;
  font-style: normal; */
}

@font-face {
  font-family: 'ArcadeFortune';
  src:  url('/public/ArcadeFortune-Regular.woff2') format('woff2'),
        url('/public/ArcadeFortune-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.title {  
  font-family: 'Kawi';
  font-size: 1.5em;
  font-weight: 600;
  color: white;
}

.link {
  color: #61dafb;
  text-decoration: 1px underline #61dafb;
}

.link:hover {
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px #ffffff;
  text-decoration: none;
}

select, input, .checkmark {
  transition: 0.2s;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #aaa, rgba(0, 0, 0, 0));
  background-size: 80% 1px;
  background-repeat: no-repeat;
  background-position: bottom center;
  outline: 1px solid #ffffff3b;

  background-color: #282c34;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: #fff;

  padding: 6px 4px;
  border: none;
  border-radius: 0.3em;
}

input, .checkmark {
  min-width: 2em;
  width: auto;
  max-width: 9.61em;
}

select:focus, input:focus {
  box-shadow: 0px 0px 6px 0px #b0aaaa;
}

select:hover {
  cursor: pointer;
}

input:hover {
  cursor: text;
}

@media (min-width: 700px) {
  select, input {
    font-size: 1em;
  }
}

/* i think that does not work */
::grammar-error {
  text-decoration: underline red;
  color: red;
}

::-moz-selection {
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px #ffffff;
}

::selection {
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px #ffffff;
}

::-webkit-scrollbar {
  border: 1px solid #ffffff1e;
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}