body {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.591);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kawi', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Kawi';
  src: url("/public/NotoSansKawi-Regular.ttf") format("truetype");
  /* font-weight: 300;
  font-style: normal; */
}

@font-face {
  font-family: 'ArcadeFortune';
  src:  url('/public/ArcadeFortune-Regular.woff2') format('woff2'),
        url('/public/ArcadeFortune-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.blur {  
  -webkit-filter: blur(1px); 
  filter: blur(1px);
}

::-moz-selection {
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px #ffffff;
}

::selection {
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px #ffffff;
}